{{> header}}
    <h1>{{task.title}}</h1>
    <p>TIME TASKED: <em>{{viewHours task.time}} HOURS</em></p>
    <p>GOAL: <em>{{viewHours task.goalTime}} HOURS</em></p>
    <p>PERCENTAGE COMPLETED: {{goalPercent task.time task.goalTime}}%</p>
    <form action="{{task._id}}?_method=PUT" method="POST">
      {{#if task.inProgress}}
      <input type="submit" name="stopTsk" value="STOP">
      {{else}}
      <input type="submit" name="startTsk" value="START">
      {{/if}}
    </form>
    <form action="{{task._id}}?_method=DELETE" method="POST">
      <input type="submit" name="" value="DELETE">
    </form>
    <p><a href="/tasks">Click here to return to the task-masterer page.</a></p>
{{> footer}}
